<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<br>
	<br>
	<div style="text-align:center">
	<h6 th:text="${action}"></h6>
	</div>
	<div class="container">
      <h1>Change Password for <span th:text="${session.uname}"></span> </h1>
	  <h6 style="color:red" th:text="${action}"></h6>
      <hr />
      <form action="#" th:action="@{/updatePassword}" , method="POST">
        <input
          name="oldPassword"
          type="password"
          placeholder="Enter Old Password"
          class="form-control mb-4 col-4"
          required
        />
        <input
          name="newPassword"
          type="password"
          placeholder="Enter New Password"
          class="form-control mb-4 col-4"
          required
        />
        <button class="btn btn-danger col-2" type="submit">Submit</button>
      </form>
	
</body>
</html>